{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png"/>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-4">
            <h3>Tyler Tarsi</h3>
            <p>Tyler is wrestler studying Applied Math</p>
        </div>
        <div class="col-lg-4">.col-lg-4</div>
        <div class="col-lg-4">.col-lg-4</div>
    </div>
{% endblock %}