{% extends "layout.html" %}

{% block title %}
    Raw Data
{% endblock %}

{% block main %}
    <table border="1" class="dataframe">
      <thead>
        <tr style="text-align: center;">
          <th></th>
          <th>Athlete Concentrators</th>
          <th>Concentration</th>
          <th>Total Concentrators</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>0</th>
          <td>0</td>
          <td>African and African American Studies</td>
          <td>20</td>
        </tr>
        <tr>
          <th>1</th>
          <td>1</td>
          <td>Anthropology</td>
          <td>59</td>
        </tr>
        <tr>
          <th>2</th>
          <td>45</td>
          <td>Applied Mathematics</td>
          <td>282</td>
        </tr>
        <tr>
          <th>3</th>
          <td>2</td>
          <td>Astrophysics</td>
          <td>24</td>
        </tr>
        <tr>
          <th>4</th>
          <td>13</td>
          <td>Biomedical Engineering</td>
          <td>36</td>
        </tr>
        <tr>
          <th>5</th>
          <td>0</td>
          <td>Chemical and Physical Biology</td>
          <td>50</td>
        </tr>
        <tr>
          <th>6</th>
          <td>9</td>
          <td>Chemistry</td>
          <td>88</td>
        </tr>
        <tr>
          <th>7</th>
          <td>0</td>
          <td>Chemistry and Physics</td>
          <td>28</td>
        </tr>
        <tr>
          <th>8</th>
          <td>0</td>
          <td>Classics</td>
          <td>38</td>
        </tr>
        <tr>
          <th>9</th>
          <td>1</td>
          <td>Comparative Literature</td>
          <td>26</td>
        </tr>
        <tr>
          <th>10</th>
          <td>1</td>
          <td>Comparative Study of Religion</td>
          <td>25</td>
        </tr>
        <tr>
          <th>11</th>
          <td>14</td>
          <td>Computer Science</td>
          <td>433</td>
        </tr>
        <tr>
          <th>12</th>
          <td>3</td>
          <td>Earth and Planetary Sciences</td>
          <td>28</td>
        </tr>
        <tr>
          <th>13</th>
          <td>2</td>
          <td>East Asian Studies</td>
          <td>32</td>
        </tr>
        <tr>
          <th>14</th>
          <td>121</td>
          <td>Economics</td>
          <td>657</td>
        </tr>
        <tr>
          <th>15</th>
          <td>3</td>
          <td>Electrical Engineering</td>
          <td>38</td>
        </tr>
        <tr>
          <th>16</th>
          <td>10</td>
          <td>Engineering Sciences</td>
          <td>121</td>
        </tr>
        <tr>
          <th>17</th>
          <td>8</td>
          <td>English</td>
          <td>164</td>
        </tr>
        <tr>
          <th>18</th>
          <td>10</td>
          <td>Environmental Science and Public Policy</td>
          <td>59</td>
        </tr>
        <tr>
          <th>19</th>
          <td>2</td>
          <td>Folklore &amp; Mythology</td>
          <td>17</td>
        </tr>
        <tr>
          <th>20</th>
          <td>1</td>
          <td>Germanic Languages &amp; Literatures</td>
          <td>7</td>
        </tr>
        <tr>
          <th>21</th>
          <td>42</td>
          <td>Government</td>
          <td>360</td>
        </tr>
        <tr>
          <th>22</th>
          <td>10</td>
          <td>History</td>
          <td>163</td>
        </tr>
        <tr>
          <th>23</th>
          <td>6</td>
          <td>History and Literature</td>
          <td>156</td>
        </tr>
        <tr>
          <th>24</th>
          <td>9</td>
          <td>History and Science</td>
          <td>113</td>
        </tr>
        <tr>
          <th>25</th>
          <td>1</td>
          <td>History of Art and Architecture</td>
          <td>45</td>
        </tr>
        <tr>
          <th>26</th>
          <td>5</td>
          <td>Human Developmental and Regenerative Biology</td>
          <td>146</td>
        </tr>
        <tr>
          <th>27</th>
          <td>15</td>
          <td>Human Evolutionary Biology</td>
          <td>106</td>
        </tr>
        <tr>
          <th>28</th>
          <td>13</td>
          <td>Integrative Biology</td>
          <td>120</td>
        </tr>
        <tr>
          <th>29</th>
          <td>0</td>
          <td>Linguistics</td>
          <td>24</td>
        </tr>
        <tr>
          <th>30</th>
          <td>5</td>
          <td>Mathematics</td>
          <td>172</td>
        </tr>
        <tr>
          <th>31</th>
          <td>12</td>
          <td>Mechanical Engineering</td>
          <td>64</td>
        </tr>
        <tr>
          <th>32</th>
          <td>7</td>
          <td>Molecular and Cellular Biology</td>
          <td>162</td>
        </tr>
        <tr>
          <th>33</th>
          <td>0</td>
          <td>Music</td>
          <td>30</td>
        </tr>
        <tr>
          <th>34</th>
          <td>0</td>
          <td>Near Eastern Languages and Civilizations</td>
          <td>16</td>
        </tr>
        <tr>
          <th>35</th>
          <td>18</td>
          <td>Neurobiology</td>
          <td>185</td>
        </tr>
        <tr>
          <th>36</th>
          <td>2</td>
          <td>Philosophy</td>
          <td>84</td>
        </tr>
        <tr>
          <th>37</th>
          <td>12</td>
          <td>Physics</td>
          <td>143</td>
        </tr>
        <tr>
          <th>38</th>
          <td>42</td>
          <td>Psychology</td>
          <td>255</td>
        </tr>
        <tr>
          <th>39</th>
          <td>1</td>
          <td>Romance Languages and Literatures</td>
          <td>24</td>
        </tr>
        <tr>
          <th>40</th>
          <td>0</td>
          <td>Slavic Languages and Literatures</td>
          <td>8</td>
        </tr>
        <tr>
          <th>41</th>
          <td>6</td>
          <td>Social Studies</td>
          <td>254</td>
        </tr>
        <tr>
          <th>42</th>
          <td>14</td>
          <td>Sociology</td>
          <td>127</td>
        </tr>
        <tr>
          <th>43</th>
          <td>0</td>
          <td>South Asian Studies</td>
          <td>5</td>
        </tr>
        <tr>
          <th>44</th>
          <td>29</td>
          <td>Statistics</td>
          <td>190</td>
        </tr>
        <tr>
          <th>45</th>
          <td>0</td>
          <td>Theater, Dance, and Media</td>
          <td>20</td>
        </tr>
        <tr>
          <th>46</th>
          <td>2</td>
          <td>Visual and Environmental Studies</td>
          <td>70</td>
        </tr>
        <tr>
          <th>47</th>
          <td>0</td>
          <td>Women, Gender, and Sexuality, Studies of</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
{% endblock %}