{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% block javascript %}
        <script src="/static/scripts.js"></script>
    {% endblock %}
    <div class="container A" id="A">
        <div class="row">
            <h2>Student Concentrations vs. Student-Athlete Concentrations</h2>
        </div>
        <div class="row">
            <table>
                <tr>
                    <td>
                        <canvas id="studentPieChart"></canvas>
                    </td>
                    <td>
                        <canvas id="athletePieChart"></canvas>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container B" id="B">
        <div class="row">
            <h2>Concentration Data</h2>
        </div>
        <div>
            <canvas id="lineChart" width="1000" height="400"></canvas>
        </div>
    </div>
{% endblock %}
