{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container A" id="A">
        <div class="row">
            <div class="intro-message">
                <h1>Harvard Student-Athlete Concentration Optionality</h1>
                <br>
                <h3>A Data Driven Analysis</h3>
                <br>
                <br>
                <p>
                    Add more info here.
                </p>
                <br>
                <ol class="intro-list">
                    <li>TODO</li>
                    <li>TODO</li>
                    <li>TODO</li>
                </ol>
                <br>
                <br>
                <br>
                <button class="button btn scrollToB">
                    <a href="#B">NEXT</a>
                </button>
            </div>
        </div>
    </div>
    <div class="container B" id="B">
        <div class="row">
            <h2>What does the concentration data look like for a given department?</h2>
        </div>
        <div>
            <canvas id="myChart" width="600" height="400"></canvas>
            <script>
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["9am", "10am", "11am", "12pm", "1pm", "2pm"],
                        datasets: [{
                            label: '# of Courses',
                            data: [12, 19, 3, 5, 2, 3],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
    </div>
{% endblock %}
