{% extends "layout.html" %}

{% block title %}
    Team
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-4">
            <h3>Tyler Tarsi</h3>
            <p>Tyler is a Junior in Adams studying Applied Mathematics. He is also on the wrestling team.
               He is from Nazareth, Pennsylvania. CS50 is his second CS course he has taken at Harvard and
               he has enjoyed his time so far. He enjoys the versatility of computer science. Right now,
               he is deciding between focusing in either Economics or Computer Science.</p>
        </div>
        <div class="col-lg-8">
            <button type="button" class="btn btn-link" value="Tyler" onclick="location.href = 'http://www.gocrimson.com/sports/wrest/2017-18/bios/tarsi_tyler_ew6r?view=bio';">Tyler</button></button>
            <a href="static/FullSizeRender.jpg">
            <img src="static/FullSizeRender.jpg" class="rounded-circle resize">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h3>Aaron Kruk</h3>
            <p>Aaron is a Sophomore in Pfoho. He is a member of the Harvard Wrestling team. He is currently concentrating
               in Neurobiology in the Computational Neuroscience track. This is his first year doing any sort of coding and he has
               been fascinated with the field.</p>
        </div>
        <div class="col-lg-8">
            <button type="button" class="btn btn-link" value="Aaron" onclick="location.href = 'http://www.gocrimson.com/sports/wrest/2017-18/bios/kruk_aaron_pp37?view=bio';">Aaron</button>
            <a href="static/IMG_4579.JPG">
            <img src="static/IMG_4579.JPG" class="rounded-circle resize">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h3>LJ Barlow</h3>
            <p>LJ is a Junior in Mather studying Applied Mathematics. He is also on the wrestling team. He is
            focusing in Economics. CS50 is his first major taste in computer science and programming.</p>
        </div>
        <div class="col-lg-8">
            <button type="button" class="btn btn-link" value="LJ" onclick="location.href = 'http://www.gocrimson.com/sports/wrest/2017-18/bios/barlow_l.j._1sap?view=bio';">LJ</button>
            <a href="static/LJB.png">
            <img src="static/LJB.png" class="rounded-circle resize">
            </a>
        </div>
    </div>
{% endblock %}