{% extends "layout.html" %}

{% block title %}
    Team
{% endblock %}

{% block main %}
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png"/>
    <div class="row">
        <div class="col-lg-4">
            <h3>Tyler Tarsi</h3>
            <p>Tyler is a Junior in Adams studying Applied Mathematics. He is also on the wrestling team.
               He is from Nazareth, Pennsylvania. CS50 is his second CS course he has taken at Harvard and
               he has enjoyed his time so far. He enjoys the versatility of computer science. Right now,
               he is deciding between focusing in either Economics or Computer Science.</p>
        </div>
        <div class="col-lg-8">
            <h3>Tyler</h3>
            <a href="static/FullSizeRender.jpg">
            <img src="static/FullSizeRender.jpg" class="rounded-circle">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h3>Aaron Kruk</h3>
            <p>Aaron is a Sophomore in Pfoho. He is a member of the Harvard Wrestling team. He is currently studying
               "Put his major". He is fascinated by all the things one can do with computer science.</p>
        </div>
        <div class="col-lg-8">
            <h3>Aaron</h3>
            <a href="static/IMG_4579.JPG">
            <img src="static/IMG_4579.JPG" class="rounded-circle">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h3>LJ Barlow</h3>
            <p>LJ is a Junior in Mather studying Applied Mathematics. He is also on the wrestling team. He is
            focusing in Economics. CS50 is his first major taste in computer science and programming.</p>
        </div>
        <div class="col-lg-8">
            <h3>LJ</h3>
            <a href="static/LJB.png">
            <img src="static/LJB.png" class="rounded-circle">
            </a>
        </div>
    </div>
{% endblock %}